body{
    background-color: white;
    background-image: url(./images/smoke-background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link{
color: #87F99E;

}

.nav-link:hover{
    color: black;
}

.nav{
    background-color: #1E693C;
}

#contact{
color: white;
display: block-inline;
}

@media screen and (max-width: 799px){
    .nav{
  background-color: #ABD37B;
}
}

@media screen and (min-width: 800px) and (max-width:1200px) {
    .nav{
  background-color: red;
}
}

@media screen and (max-width: 400px) {

    .card{
      width: 400px;
    }
  }

@media (min-width: 1200px){
    #main{
    background-color: #ABD37B;
    width: 1200px;
}
}
