body{
    background-color: white;
    background-image: url(./images/smoke-background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link{
color: #87F99E;

}

.nav-link:hover{
    color: black;
}

.nav{
    background-color: #1E693C;
}

#contact{
color: white;
display: block-inline;
}

@media (max-width: 799px){
    .nav{
  background-color: #ABD37B;
}
}

@media (min-width: 800px) and (max-width:1200px) {
    .nav{
  background-color: red;
}
}

@media (max-width: 400px) {

    .mobile{
      width: 100%;
    }
  }

    #products{
    background-color: #ABD37B;     background-image: linear-gradient(to left, #141313, #ABD37B)
}

.btn{
background-color: black;
color: white;
padding: 2px
}

.card{
    border-color: black;
}

#footer{
    background-color: #ABD37B;     background-image: linear-gradient(to left, #141313, #ABD37B);
border-top: 1px solid white;
margin-right: 1%; 
}


